*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
    
}

html, body{

    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    
    padding: 0px 90px;
    padding-top: 170px;
    gap: 70px;


}
#left{
    height: 100%;
    width: 45%;
    
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 50px;
    

}


#left h1{
    font-size: 80px;
    font-weight: 300;
    
    
    line-height: 80px;
}
#bottom-left{
    
    width: 100%;
    
}
#color{

    
    width: fit-content;
    padding: 8px 15px; 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    border: 1px solid black;

}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;

}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;

}
#color2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin: 3px;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 13px;
    font-weight: 525;    
}
#left p{

    font-size: 12px;
    width: 65%;
    font-weight: 500;
    color: black;
    line-height: 17px;
}
#right{
    height: 100%;
    width: 33%;
    
    position: relative;
}
#right-top{
    height: 50px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#top-right h4{

    font-size: 30px;
    font-weight: 600;
    font-family: work sans;
}
#right-top h5{
    font-size: 16px;
}
#right-top h5 i{
    color: gold;
}
#right img{
    height: 100%;
    width: 95%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: rgb(32, 32, 33);
    color: #fff;
    border-radius: 50%;
    right: -10%;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#black-gola h5{
    font-size: 20px;
    font-weight: 450;

}
#rotated{
    position: absolute;
    left: -8%;
    bottom: -3%;
    rotate: -90deg;
    
    transform-origin: 0 0;
    font-size: 28px;
    font-weight: 380;


}

